<h1>Proxy#input</h1>
<p>Find me in app/views/proxy/input.html.erb</p>
<h1>Введите целое число n > 0</h1>
<%unless flash[:notice].blank?%>
  <h2 style = 'color:red'><%=flash[:notice]%></h2>

<%end%>
<%= form_with url: "/proxy/output",layout: false, method: :get do |form| %>
  <%= form.number_field :digit, in:1..Float::INFINITY%>
  <%= form.submit "Отправить" %>
  
  <select class="custom-select" name = "side">
      <option value = "server">Server XSLT</option>
      <option value = "client-with-xslt">Client XSLT</option>
      <option value = "client">RAW</option>
  </select>

<% end %>